/* USE OF 'BEM' NAMING METHODOLGY IS A GOOD PRACTICE */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* css variables */
:root {
    --primary--color: #FFD55E; /*minion yellow*/
    --dark--grey: #374151;
    --light--slate: #e2e8f0;
}


/* body */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 3rem 0rem;
}



/* containers */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.container-fluid {
    max-width: 700px;
    width: auto;
}



/* links */
.link {
    text-align: center;
    padding: 3rem 1rem;
}

.link-primary {
    background-color: var(--primary--color);
    text-decoration: none;
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    border: 1px solid var(--primary--color);
    border-radius: 0.5rem;
    text-decoration: none;
    color: darkmagenta;
}

.link-navigation {
    text-decoration: none;
    color: white;
}

.link-active {
    font-weight: bold;
}



/* lists */
.list-unordered {
    list-style: none;
}

.list-unordered-inline-item {
    display: inline;
    padding: 0rem 1rem;
}

.list-unordered-inline-nav-item {
    display: inline;
}

.list-footer .list-footer-item {
    display: inline;
}

.projects-list-unordered-item {
    padding: 0.5rem;
}

/* .projects-list-unordered{
    list-style: none;
    text-align: center;
} */



/* navigation */
.navigation {
    background-color: var(--primary--color);
    color: white;
    padding: 3rem 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.nav-brand {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.navigation .nav-pills {
    text-align: right;
}



/* header */
.hero {
    padding: 3rem;
    padding-top: 5rem;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    font-size: xx-large;
    color: var(--dark--grey);
    text-align: center;
}

.hero-heading-highlighted {
    color: var(--primary--color);
}

.projects-hero {
    padding: 1rem;
    text-align: center;
}


/* section */
.section {
    padding: 2rem;
}

.section h3 {
    text-align: center;
}

.section-off-white {
    background-color: var(--light--slate);
}

.section h3 {
    color: var(--primary--color);
}


/* footer */
.footer {
    background-color: var(--primary--color);
    padding: 2rem 1rem;
    text-align: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.footer-header {
    font-weight: bold;
    font-size: large;
    color: black;
}

.footer .link {
    text-decoration: none;
    color: black;
}

/* below line code means : if we find 'ul' inside any 'footer' than do as mentioned (we are doing this because brwoser have inbuilt padding codes (e.g. 'padding-inline-start')that may prevent our links/lines to not get aligned exactly at center of the page here) */
.footer ul {
    padding-inline-start: 0px;
}