/* USE OF 'BEM' NAMING METHODOLGY IS A GOOD PRACTICE */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* css variables */
:root {
    --primary--color: #FFD55E; /*minion yellow*/
    --dark--grey: #374151;
    --light--slate: #e2e8f0;
}


/* body */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}



/* navigation */
.navigation {
    background-color: var(--primary--color);
    color: black;
    padding: 2rem 1rem;
    text-align: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}




/* input-text-area */
.input-text-area{
    box-sizing: border-box;
    display: block;
    width: 50%;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 10px;
    border: 2px solid black;
    line-height: 150%;
}

/* btn-translate */
#btn-translate{
    
}


/* output */
#output{
    display: block;
    width: 90%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}






/* header */
.hero {
    padding: 3rem;
    padding-top: 5rem;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    font-size: xx-large;
    color: var(--dark--grey);
    text-align: center;
}

.hero-heading-highlighted {
    color: var(--primary--color);
}

.projects-hero {
    padding: 1rem;
    text-align: center;
}


/* section */
.section {
    padding: 2rem;
}

.section h3 {
    text-align: center;
}

.section-off-white {
    background-color: var(--light--slate);
}

.section h3 {
    color: var(--primary--color);
}


/* footer */
.footer {
    background-color: var(--primary--color);
    padding: 2rem 1rem;
    color: black;
    text-align: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.footer-header {
    font-weight: bold;
    font-size: large;
    color: black;
}

.footer .link {
    text-decoration: none;
    color: black;
}

/* below line code means : if we find 'ul' inside any 'footer' than do as mentioned (we are doing this because brwoser have inbuilt padding codes (e.g. 'padding-inline-start')that may prevent our links/lines to not get aligned exactly at center of the page here) */
.footer ul {
    padding-inline-start: 0px;
}