/* BEM naming convention used */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* css variables */
:root {
    --primary--color: #FFD55E; /*minion yellow*/
    --light--yellow: #fefce8;
}


/* body */
body {
    font-family: 'Fredoka One', cursive;
    background-color:  #f3f4f6;
    margin: 0px;
}



/* navigation */
.navigation {
    background-color: var(--primary--color);
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 200%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


/* input-text-area */
.input-text-area {
    font-family: inherit;
    box-sizing: border-box;
    display: block;
    width: 50%;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 0.5rem;
    line-height: 150%;
    background-color: var(--light--yellow);
}


/* container-btn */
.container-btn {
    text-align: center;
}

/* btn-translate */
#btn-translate {
    background-color: var(--primary--color);
    font-family: inherit;
    font-size: xx-small;
    padding: 25px 35px;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


/* heading-output */
.heading-output {
    text-align: center;
}

/* output */
#output {
    font-family: inherit;
    box-sizing: border-box;
    display: block;
    width: 50%;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 0.5rem;
    line-height: 150%;
    background-color: var(--light--yellow);
}


/* footer */
.footer {
    background-color: var(--primary--color);
    padding: 10px 30px;
    color: black;
    text-align: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.footer .list-footer .list-footer-item {
    list-style: none;
    padding: 0px 20px;
    display: inline;
}
.footer .link {
    text-decoration: none;
    color: black;
}